body,
html {
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    background-color: #000;
    /* color: #fff; */
}

.facts>.container>center>h1 {
    color: #fff;
}

.dot-nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 80px;
    overflow-y: hidden;
    z-index: 999999999999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot-nav ul li a .dot {
    height: 7px;
    width: 7px;
    border-radius: 50px;
    background-color: #fff;
    margin: 20px 0;
    transition: margin 300ms ease-in-out, transform 300ms ease-in-out;
}

.dot-nav>ul>li {
    list-style-type: none;
}

.dot-nav ul li a:hover .dot {
    transform: scale(2);
    margin: 30px 0;
}

.bg-custom {
    background-color: #000;
}

.navbar-custom {
    color: #fff;
}

.navbar-custom a {
    color: #fff;
}

.banner-top {
    background-color: #000;
    padding: 20px;
    color: #fff;
    /* margin: 40px 40px; */
    justify-content: space-around;
    /* border-radius: 20px; */
}

.devices {
    /* height: calc(100vh - 76px); */
    height: 100vh;
}

.devices>img {
    overflow: hidden;
    object-fit: cover;
}

.btn-custom-navbar {
    background-color: black;
    color: white;
    margin-right: 100px;
}

.btn-custom-navbar:hover {
    background-color: #fff;
    color: #000;
}

.sentence {
    margin-top: 20px;
    color: #fff;
    font-size: 50px;
    text-align: left;
}

.banner-top>.col-6>ul {
    margin-top: 50px;
}

.banner-top>.col-6>ul>li {
    margin: 10px;
}

.facts {
    padding: 20px;
}

.master-facts {
    flex-wrap: nowrap !important;
}

.right {
    padding: 25px;
    margin: 4px 4px;
    text-align: right;
}

.left {
    padding: 25px;
    margin: 4px 4px;
    text-align: left;
    background-color: #f7f7f7;
}

.orange {
    background-color: #F4B053;
}

.grey {
    background-color: #f7f7f7;
}

.videos {
    background-color: #000;
    padding: 20px;
}

.alternates {
    padding: 40px;
    background-color: #000;
}

.texts {
    margin: 0px 200px;
    color: white;
}


/* #image-top {
    perspective: 25px;
}

#inner {
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
} */

.alternate {
    padding: 30px 50px;
    color: #fff;
}

.join {
    background-image: url('../img/join3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 300px;
}

.join-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.team {
    padding: 40px;
}

.btn-custom {
    background-color: white;
    color: black;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50px;
    /* transition: margin 300ms ease-in-out, transform 300ms ease-in-out; */
}

.btn-custom:hover {
    color: white;
    background-color: black;
    /* transition: margin 300ms ease-in-out, transform 300ms ease-in-out; */
}

#devices,
#banner-top,
#facts,
#videos,
#alternates,
#join,
#team,
#pricing {
    scroll-margin-top: 72px;
}

section.pricing {
    /* background: #007bff; */
    background: #000;
}

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price {
    font-size: 3rem;
    margin: 0;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
}

.btn-pricing {
    background-color: #F4B053;
}


/* Hover Effects on Card */

.pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

.pricing .card:hover .btn {
    opacity: 1;
}