:root {
    --bg-color: #000;
    --contrast: #fff;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    position: absolute;
    top: 225px;
    width: 100%;
    z-index: -1;
    background: #c0c0c3;
    color: #414041;
}

#main {
    min-height: 100vh;
    background-color: var(--bg-color);
    border: 12px solid var(--contrast);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    padding: 0px 10px;
    font-size: 60px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.animate-slideup {
    margin-right: 16px;
    transform: translateY(200px) rotate(15deg);
    animation: slideup 1000ms cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
    transform-origin: top center;
}

@keyframes slideup {
    0% {
        transform: translateY(200px) rotate(20deg);
    }
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

.fs {
    height: 12px;
    width: 12px;
    background-color: #fff;
    margin-left: -16px;
    margin-top: 28px;
    opacity: 0;
    animation: rotate-fs 1800ms cubic-bezier(0.5, 1, 0.89, 1) forwards;
    transform-origin: center;
}

@keyframes rotate-fs {
    0% {
        transform: rotate(0deg) scale(0);
        opacity: 0;
    }
    30% {
        opacity: 1;
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(720deg);
        opacity: 1;
    }
}

.curtain {
    position: fixed;
    background-color: var(--contrast);
    width: 100vw;
    min-height: 100vh;
    top: 0px;
    left: 0px;
}

.progressBar {
    height: 2px;
    width: 2px;
    background-color: var(--bg-color);
}

.progressGrow-animation {
    animation: grow 2000ms cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
}

@keyframes grow {
    0% {
        width: 0px;
    }
    50% {
        width: calc(100vw - 24px);
        height: 2px;
    }
    100% {
        width: calc(100vw - 24px);
        height: calc(100vh - 24px);
    }
}

/* @media (max-width: 800px) {
    .flex {
        flex-wrap: wrap;
    }
    .animate {
        margin-right: 4px;
    }
    .fs {
        height: 12px;
        width: 12px;
        margin-top: 30px;
    }
}

@media (max-width: 520px) {
    .box {
        font-size: 40px;
    }
    .main {
        border: 5px solid #fc3c3c;
    }
    .animate-slideup {
        margin-right: 6px;
    }
    .fs {
        height: 10px;
        width: 10px;
        margin-left: -4px;
        margin-top: 13px;
    }
} */


.nav-bar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #000;
    color: #fff;
    height: 100px;
    transition: background .5s
}

.nav-1 {
    transition: margin-right .5s ease;
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
}

.toleft {
    margin-right: 50%;
}
